select {
	background-color: black;
	border-color: #32eef0;
	margin-left: 5%;
	margin-top: 4px;
	margin-bottom: 8px;
	width: 90%;
}

option {
	border-color: #32eef0;
	border-width: 1px;
    border-style: solid;
    color: #32eef0;
}

option:hover,
option:focus,
option:active,
option:checked {
    background: #32eef0 !important;
    color: black !important;
}

.header {
	background-color:#32eef0;
	text-align: center;
	display:inline-block;
	color:#260026;
	padding:3px 0px;
	width: 100%;
	text-decoration:none;
	margin-bottom: 12px;
 }


.myButton {
	background-color:#32eef0;
	border-radius:28px;
	border:1px solid #2a636b;
	display:inline-block;
	cursor:pointer;
	color:#260026;
	font-family:Arial;
	font-size:13px;
	padding:1px 0px;
	text-decoration:none;

	margin-left: 5%;
	margin-bottom: 6px;
	width: 90%;

 }

.myButton:hover {
	background-color: white;
}


* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
}

.left {
  width: 16%;

  border-right: solid;
  border-right-width: 2px;
  border-right-color: #32eef0;

  border-bottom: solid;
  border-bottom-width: 2px;
  border-bottom-color: #32eef0;

  padding-bottom: 10px;

}

.right {
  width: 84%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    border-radius: 10px;
	border:1px solid #32eef0;

}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
	border:1px solid #32eef0;
	background: #32eef0;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #32eef0;
  color: black;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #32eef0;
  color: black;
  text-align: center;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #daffff;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
